.topbar {
    background-color: #222222;
    border-bottom-style: solid;
    border-bottom-width: 10px;
   
}

.applelogo {
    text-align: center;
    
}

.search {
    background-color: grey

}

.nav{
    display: inline-block;   
}

/* Dropdown Button */
.dropbtn {
    background-color: #grey;
    color: grey;
    padding: 12px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background: url(/new-apple/img/search.svg) no-repeat 4px 2px #444;
    min-width: 160;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

.cart {
text-align: right;
}

.iPhone11Pro{
font-weight: bolder;
font-size: 2rem;
text-align: center;
padding-top: 3rem;
color: white;
}

.iPhone2{
  text-align: center;
  padding: 0.5rem;
  color: white;
}

.iPhone3{
  text-align: center;
  font-size: 0.9rem;
  color: white;
}


.list1{
  text-align: center;
  padding: 0.5rem;
  color: blue;
}

.box1{
  background-color: black;
}

.iPhone11{
  font-weight: bolder;
  font-size: 2rem;
  text-align: center;
  padding-top: 3rem;
  color: black;
}

.iPhone02{
  text-align: center;
  padding: 0.5rem;
  color: black;
}

.iPhone03{
  text-align: center;
  font-size: 0.9rem;
  color: black;
}

.list2{
  text-align: center;
  padding: 0.5rem;
  color: blue;
}

.box2{
  background-color: whitesmoke;
}

.iPhone11Image{
  height: 250;
  overflow: hidden;
}

.AppleWatch{
  font-weight: bolder;
  font-size: 2rem;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
  }

  .AppleWatch1{
    text-align: center;
    padding: 0.5rem;
  }

  .AppleWatch2{
    text-align: center;
    font-size: 0.9rem;
    color: black;
  }

  .list3{
    text-align: center;
    padding: 0.5rem;
    color: blue;
  }
 